<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Doctor Database</h1>
<p align="center"> Please select an option below: </p>
<div class="text-center w3-padding-16">
    <div class="btn-group-vertical" style="width:50%;">
        <a type="button" class="btn btn-lg btn-default" href="search-doctor">Search for Doctor</a>
        <a type="button" class="btn btn-lg btn-default" href="filter-doctor">Filter Doctor by Title</a>
        <a type="button" class="btn btn-lg btn-default" href="create-doctor">Create New Doctor</a>
        <a type="button" class="btn btn-lg btn-default" href="update-doctor">Update Doctor</a>
        <a type="button" class="btn btn-lg btn-default" href="delete-doctor">Delete Doctor</a>

    </div>
</div>

{% endblock %}
</body>
</html>