<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examination</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Examination Database</h1>
<p align="center"> Please select an option below: </p>
<div class="text-center w3-padding-16">
    <div class="btn-group-vertical" style="width:50%;">
        <a type="button" class="btn btn-lg btn-default" href="search-examination">Search for Examination</a>
        <a type="button" class="btn btn-lg btn-default" href="filter-examination">Filter Examinations</a>
        <a type="button" class="btn btn-lg btn-default" href="create-examination">Create New Examination</a>
        <a type="button" class="btn btn-lg btn-default" href="update-examination">Update Examination</a>
        <a type="button" class="btn btn-lg btn-default" href="delete-examination">Delete Examination</a>
    </div>
</div>

{% endblock %}
</body>
</html>