<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter Examinations</title>
</head>
<style>
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 15%;
  background-color: #53A4DE;
  color: white;
  padding: 5px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3A77A3;
}

</style>
<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Filter Examinations</h1>
<p align="center">Please fill fields to filter by:</p>
<div class="form-group" align="center" style="width: 100%;border-radius:5px;background-color: #f2f2f2;padding: 20px;">
    <form method="post">
        <label for="doctor_id">Doctor ID:</label>
        <input type="text" style="width:15%;" class="form-control" name="doctor_id" id="doctor_id">
        <label for="patient_id">Patient ID: </label>
        <input type="text" style="width:15%;" class="form-control" name="patient_id" id="patient_id">
        <label for="date">Date: </label>
        <input type="text" style="width:20%;" class="form-control" name="date" id="date">
        <label for="time">Time: </label>
        <input type="text" style="width:15%;" class="form-control" name="time" id="time"><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <!-- This allows you to display the result table or message on the webpage. -->
    {% if message %}
    <pre>{{ message }}</pre>
    {% endif %}
    <br>
</div>
<div align="center" style="padding-top:150px;">
    <a type="button" class="btn btn-default" href="examination">Return to Examination</a>
</div>

{% endblock %}
</body>
</html>