<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Patient Database</h1>
<p align="center"> Please select an option below: </p>
<div class="text-center w3-padding-16">
    <div class="btn-group-vertical" style="width:50%;">
        <a type="button" class="btn btn-lg btn-default" href="search-patient">Search for Patient</a>
        <a type="button" class="btn btn-lg btn-default" href="create-patient">Create New Patient</a>
        <a type="button" class="btn btn-lg btn-default" href="update-patient">Update Patient</a>
        <a type="button" class="btn btn-lg btn-default" href="delete-patient">Delete Patient</a>
    </div>
</div>

{% endblock %}
</body>
</html>