<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescription</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Prescription Database</h1>
<p align="center"> Please select an option below: </p>
<div class="text-center w3-padding-16">
    <div class="btn-group-vertical" style="width:50%;">
        <a type="button" class="btn btn-lg btn-default" href="search-prescription">Search for Prescription</a>
        <a type="button" class="btn btn-lg btn-default" href="create-prescription">Create New Prescription</a>
        <a type="button" class="btn btn-lg btn-default" href="update-prescription">Update Prescription</a>
    </div>
</div>

{% endblock %}
</body>
</html>