<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Examination</title>
    <style>
input[type=submit] {
  width: 15%;
  background-color: #53A4DE;
  color: white;
  padding: 5px;
  margin: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3A77A3;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

    </style>
</head>

<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Update Examination</h1>
<p align="center">Please input the Examination ID, Doctor ID, Patient ID, and the information you would like to update.</p><br>
<!-- MUST INCLUDE method="POST" to get input once submitted -->
<div class="form-group" align="center"
     style="width: 50%;margin:0 auto;border-radius:5px;background-color: #f2f2f2;padding: 20px;">
    <form method="post" style="width=50%">
        <fieldset>
            <h5 align="center"><b>Exam ID*</b></h5>
            <input type="text" name="examination_id" style="width:50%">
            <h5 align="center"><b>Date</b></h5>
            <input type="text" name="date" style="width:50%">
            <h5 align="center"><b>Time</b></h5>
            <input type="text" name="time" style="width:50%">
            <h5 align="center"><b>Allergies</b></h5>
            <input type="text" name="allergies" style="width:50%">
            <h5 align="center"><b>Medications</b></h5>
            <input type="text" name="medications" style="width:50%">
            <h5 align="center"><b>Height (in)</b></h5>
            <input type="text" name="height" style="width:50%">
            <h5 align="center"><b>Weight (lbs)</b></h5>
            <input type="text" name="weight" style="width:50%">
            <h5 align="center"><b>Doctor</b></h5>
            <input type="text" name="doctor_id" style="width:50%">
            <h5 align="center"><b>Attendee</b></h5>
            <input type="text" name="patient_id" style="width:50%">
        </fieldset>
        <input formmethod="post" type="submit" value="Submit">
    </form>
</div>
<br><br>
<div align="center" style="width: 50%;margin:0 auto;">
    <!-- This allows you to display the result table or message on the webpage. -->
    {% if message %}
    <pre>{{ message }}</pre>
    {% endif %}
</div>

<br>
<p style="padding-left:20px;">* = required fields</p>
<div align="center" style="padding-top:150px;">
    <a type="button" class="btn btn-default" href="examination">Return to Examination</a>
</div>

{% endblock %}
</body>
</html>