<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Prescription</title>
    <style>
input[type=submit] {
  width: 15%;
  background-color: #53A4DE;
  color: white;
  padding: 5px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3A77A3;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

    </style>
</head>

<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Update Prescription</h1>
<p align="center">Please input the Doctor ID, Patient ID, Medication name, and the new Instructions.</p><br>
<div class="form-group" align="center"
     style="width: 50%;margin:0 auto;border-radius:5px;background-color: #f2f2f2;padding: 20px;">
    <!-- MUST INCLUDE method="POST" to get input once submitted -->
    <form method="post" style="width=50%">
        <fieldset>
            <h5 align="center"><b>Doctor ID*</b></h5>
            <input type="text" name="doctor_id" style="width:50%">
            <h5 align="center"><b>Patient ID*</b></h5>
            <input type="text" name="patient_id" style="width:50%">
            <h5 align="center"><b>Medication*</b></h5>
            <input type="text" name="medication" style="width:50%">
            <h5 align="center"><b>Instructions</b></h5>
            <input type="text" name="instructions" style="width:50%">
        </fieldset>
        <input formmethod="post" type="submit" value="Submit">
    </form>
</div>
<br><br>
<div align="center" style="width: 50%;margin:0 auto;">
    <!-- This allows you to display the result table or message on the webpage. -->
    {% if message %}
    <pre>{{ message }}</pre>
    {% endif %}
</div>

<br>
<p style="padding-left:20px; padding-bottom:40px;">* = required fields</p>
<div align="center" style="padding-top:150px;">
    <a type="button" class="btn btn-default" href="prescription">Return to Prescription</a><br><br>
</div>

{% endblock %}
</body>
</html>