<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Patient</title>
</head>
<style>
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 15%;
  background-color: #53A4DE;
  color: white;
  padding: 5px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3A77A3;
}

</style>
<body>
{% extends "template.html" %}
{% block content %}
<h1 align="center"> Delete Patient</h1>
<div class="form-group" align="center" style="width: 100%;border-radius:5px;background-color: #f2f2f2;padding: 20px;">
    <label for="first">First Name: </label>
    <input type="text" style="width:15%;" class="form-control" id="first">
    <label for="middle">Middle Initial:</label>
    <input type="text" style="width:5%;" class="form-control" id="middle">
    <label for="last">Last Name: </label>
    <input type="text" style="width:15%;" class="form-control" id="last">
    <p align="center"> or </p>
    <label for="patientID">Patient ID:</label>
    <input type="text" style="width:25%;" class="form-control" id="patientID">
    <br>
    <input type="submit" value="Submit">
</div>
<div align="center" style="padding-top:150px;">
    <a type="button" class="btn btn-default" href="patient">Return to Patient</a>
</div>
{% endblock %}
</body>
</html>